<!DOCTYPE html>
<html>
	<head>
		<title>Le Magasin - Accueil</title>
		<meta http-equiv="Content-Type" content="text/html; charsert=ISO-8859-1" />
		<!-- <link rel="stylesheet" media="screen" type="text/css" title="StyleCSS" href="CSS/Css.css" /> -->
		
	</head>
	<center>
		<font face = "Arial">
			<body>
				<h1>Le Magasin - Accueil</h1>
				<table>
					<tr>
						<th>Produits<br/></th>
						<th style="color: white">-----------------</th>
						<th>Ventes<br/></th>
					</tr>
					<tr>
						<td>
							<a href="/insertProduit">Ajout Produit</a>
						</td>
						<td style="color: white">-----------------</td>
						<td>
							<a href="/insertVentes">Ajout Vente</a>
						</td>
					</tr>
					<tr>
						<td>
							<a href="/affichageProduits">Liste Produits</a>
						</td>
						<td style="color: white">-----------------</td>
						<td>
							<a href="/affichageVentes">Liste Ventes</a>
						</td>
					</tr>
				</table>
				<h6>RENAUT Aurelien & MAURIN Louis</h6>
			</body>
		</font>
	</center>
	
</html>