<!DOCTYPE html>
<html>
	<head>
		<title>Le Magasin - Liste Produits</title>
		<meta http-equiv="Content-Type" content="text/html; charsert=ISO-8859-1" />
		<!-- <link rel="stylesheet" media="screen" type="text/css" title="StyleCSS" href="CSS/Css.css" /> -->
		
	</head>
	<center>
		<font face = "Arial">
			<body>
				<h1>Le Magasin - Liste Produits</h1>
				<p>
					<a href="/">Accueil</a>
					<br />
					<br />
					<table>
						<tr>
							<th>Nom</th>
							<th>Catégorie</th>
							<th></th>
							<th></th>
							<th></th>
						</tr>
						<% for(var i=0;i<result.length;i++)
						{ %>
							<tr>
								<td><%= result[i].Nom %></td>
								<td><%= result[i].Categorie %></td>
								<td><a href="/modifStock/<%= result[i].id %>">Modification de Stock</a></td>
								<td><a href="/delete/<%= result[i].id %>">Suppression</a></td>
								<td><a href="/detail/<%= result[i].id %>">Détails</a></td>
							</tr>
						<%}%>
					</table>
					<br />
					<br />
					<a href="/">Accueil</a>
				</p>
				<h6>RENAUT Aurelien & MAURIN Louis</h6>
			</body>
		</font>
	</center>
</html>