<!DOCTYPE html>
<html>
	<head>
		<title>Le Magasin - Detail <%= resultProduit[0].Nom %></title>
		<meta http-equiv="Content-Type" content="text/html; charsert=ISO-8859-1" />
		<!-- <link rel="stylesheet" media="screen" type="text/css" title="StyleCSS" href="CSS/Css.css" /> -->
		
	</head>
	<center>
		<font face = "Arial">
			<body>
				<h1>Le Magasin - Detail <%= resultProduit[0].Nom %></h1>
				<p>
					<a href="/">Accueil</a>
					<br />
					<a href="/affichageProduits">Retour Liste Produits</a>
					<br />
					<br />

					Nom : <%= resultProduit[0].Nom %><br />
					Catégorie : <%= resultProduit[0].Categorie %><br />
					Prix : <%= resultPrix[0].Valeur %><br />
					Date début : <%= resultPrix[0].Date_Debut %><br />
					Date fin : <%= resultPrix[0].Date_Fin %><br />
					Nombre de stock : <%= resultStock[0].Qt_mv %><br />
					Date du stock : <%= resultStock[0].Date %><br />

					<br />
					<br />
					<a href="/">Accueil</a>
					<br />
					<a href="/affichageProduits">Retour Liste Produits</a>
				</p>
				<h6>RENAUT Aurelien & MAURIN Louis</h6>
			</body>
		</font>
	</center>
</html>