<!DOCTYPE html>
<html>
	<head>
		<title>Le Magasin - Detail <%= resultVentes[0].id %></title>
		<meta http-equiv="Content-Type" content="text/html; charsert=ISO-8859-1" />
		<!-- <link rel="stylesheet" media="screen" type="text/css" title="StyleCSS" href="CSS/Css.css" /> -->
		
	</head>
	<center>
		<font face = "Arial">
			<body>
				<h1>Le Magasin - Detail <%= resultVentes[0].id %></h1>

				<p>
					<a href="/">Accueil</a>
					<br />
					<a href="/affichageVentes">Retour Liste Ventes</a>
					<br />
					<br />

					Produit : <%= resultProduit[0].Nom %> <a href="/detail/<%= resultProduit[0].id %>">Details</a><br />
					Catégorie : <%= resultProduit[0].Categorie %><br />
					Prix : <%= resultVentes[0].Prix %><br />
					Date : <%= resultVentes[0].Date %><br />
					Quantite : <%= resultProduitVente[0].Quantite %><br />

					<br />
					<br />
					<a href="/">Accueil</a>
					<br />
					<a href="/affichageVentes">Retour Liste Ventes</a>
				</p>
				<h6>RENAUT Aurelien & MAURIN Louis</h6>
			</body>
		</font>
	</center>
</html>