<!DOCTYPE html>
<html>
	<head>
		<title>Le Magasin - Ajout produit</title>
		<meta http-equiv="Content-Type" content="text/html; charsert=ISO-8859-1" />
		<!-- <link rel="stylesheet" media="screen" type="text/css" title="StyleCSS" href="CSS/Css.css" /> -->
		
	</head>
	<center>
		<font face = "Arial">
			<body>
				<h1>Le Magasin - Ajout produit</h1>
				<a href="/">Accueil</a>
				<br />
				<br />
				<form action="/insertProduit/valid" method="post">
					<label for="Produit">Produit</label>
					<input type="text" name="Produit" id="Produit" />
					<br />	
					<label for="Categorie">Categorie</label>
					<input type="text" name="Categorie" id="Categorie" />	
					<br />
					<label for="Prix">Prix</label>
					<input type="text" name="Prix" id="Prix" />	
					<br />
					<label for="DateDebut">Date de Début</label>
					<input type="text" name="DateDebut" id="DateDebut" />	
					<br />
					<label for="DateFin">Date de fin</label>
					<input type="text" name="DateFin" id="DateFin" />	
					<br />
					<label for="Quantite">Quantité</label>
					<input type="text" name="Quantite" id="Quantite" />	
					<br />
					<input type="submit" value="Envoyer" />
				</form>
				<br />
				<br />
				<a href="/">Accueil</a>
				<h6>RENAUT Aurelien & MAURIN Louis</h6>
			</body>
		</font>
	</center>
</html>