<!DOCTYPE html>
<html>
	<head>
		<title>Le Magasin - Ajout vente</title>
		<meta http-equiv="Content-Type" content="text/html; charsert=ISO-8859-1" />
		<!-- <link rel="stylesheet" media="screen" type="text/css" title="StyleCSS" href="CSS/Css.css" /> -->
		
	</head>
	<center>
		<font face = "Arial">
			<body>
				<h1>Le Magasin - Ajout vente</h1>
				<a href="/">Accueil</a>
				<br />
				<br />
				<form action="/insertVentes/valid" method="post">
					<label for="Produit">Produit</label>
					<select class="custom-select" id="Produit" name="Produit">
					<% for(var i=0;i<result.length;i++)
					{ %>
		                    <option value="<%= result[i].id %>"><%= result[i].Nom %></option>
		            <%}%>
		            </select>
					<br />
					<label for="Quantite">Quantité</label>
					<input type="text" name="Quantite" id="Quantite" />	
					<br />
					<input type="submit" value="Envoyer" />
				</form>
				<br />
				<br />
				<a href="/">Accueil</a>
				<h6>RENAUT Aurelien & MAURIN Louis</h6>
			</body>
		</font>
	</center>
</html>