<!DOCTYPE html>
<html>
	<head>
		<title>Le Magasin - Modification du stock du produit <%= result[0].Nom %></title>
		<meta http-equiv="Content-Type" content="text/html; charsert=ISO-8859-1" />
		<!-- <link rel="stylesheet" media="screen" type="text/css" title="StyleCSS" href="CSS/Css.css" /> -->
		
	</head>
	<center>
		<font face = "Arial">
			<body>
				<h1>Le Magasin - Modification du stock du produit <%= result[0].Nom %></h1>
				<a href="/">Accueil</a>
				<br />
				<a href="/affichageProduits">Retour Liste Produits</a>
				<br />
				<br />
				<form action="/modifStock/valid/<%= id %>" method="post">
					<label for="Stock">Modification du stock</label>
					<input type="text" name="Stock" id="Stock" />
					<br />	

					<input type="submit" value="Envoyer" />
				</form>
				<br />
				<br />
				<a href="/">Accueil</a>
				<br />
				<a href="/affichageProduits">Retour Liste Produits</a>
				<h6>RENAUT Aurelien & MAURIN Louis</h6>
			</body>
		</font>
	</center>
</html>