<!DOCTYPE html>
<html>
	<head>
		<title>Le Magasin - Validation de suppression de la vente</title>
		<meta http-equiv="Content-Type" content="text/html; charsert=ISO-8859-1" />
		<!-- <link rel="stylesheet" media="screen" type="text/css" title="StyleCSS" href="CSS/Css.css" /> -->
		
	</head>
	<center>
		<font face = "Arial">
			<body>
				<h1>Le Magasin - Validation de la suppression de la vente</h1>
				<br />
				La vente a bien été supprimé.
				<br />
				<br />
				<a href="/">Accueil</a>
				<br />
				<a href="/affichageVentes">Retour Liste Ventes</a>
				<h6>RENAUT Aurelien & MAURIN Louis</h6>
			</body>
		</font>
	</center>
</html>